@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.section3{
    background-color: #FDC66A;
    color: white;
    padding: 1rem;
    text-align: center;

}
.heading3{
    font-family: 'Poppins', sans-serif;
}